<!doctype html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registrarse</title>
    <link type="stylesheet" href="styles/estilo.css" />
  </head>

  <body>
    <main>
      <div class="d-flex flex-row justify-content-center">
        <h1>REGISTRARSE (coming soon...)</h1>
      </div>

      <div class="d-flex flex-row justify-content-center">
        <div class="d-flex flex-column align-items-center">
          <form action="config/login.php" method="post" id="formInicioSesion">
            <input type="email" name="mail" id="mail" placeholder="Ingrese Mail" required />
            <input type="password" name="pass" id="pass" placeholder="Ingrese contraseña" required />
            <input type="checkbox" name="rememberMe" id="rememberMe" />
            <label for="rememberMe">Recordarme</label>
            <button type="submit" id="botonIniciar" name="botonIniciar">Iniciar Sesion</button>
          </form>
        </div>
      </div>

      <div class="d-flex flex-row justify-content-center">
        <div class="d-flex flex-column align-items-center">
          <a href="cambiarContrseña.html"> ¿Has olvidado la contraseña? </a>
          <div>¿No tienes cuenta? <a href="signinForm.html">Registrarse</a></div>
        </div>
      </div>
    </main>
  </body>
</html>
