@charset "utf-8";

footer {
  background-color: bisque;
}

header {
  background-color: bisque;
}

.pie,
.cabecera {
  width: 100% !important;
  height: 100% !important;
}

#formInicioSesion {
  margin: 0 auto;
  padding: 10px;
  background-color: bisque;
  border-radius: 15px;
  border-width: 5px;
  border-color: darksalmon;
  border-style: ridge;
}

h1 {
  font-weight: bold;
  text-align: center;
  color: black;
}

#mail,
#pass {
  width: 100%;
  padding: 10px;
  margin-top: 1px;
  border-radius: 5px;
  border-width: 1px;
}

#rememberMe {
  margin-top: 10px;
  transform: scale(1.1);
}

#botonIniciar {
  padding: 10px;
  background-color: salmon;
  color: white;
  border-style: solid;
  width: 100%;
  border-radius: 5px;
  border-color: rgb(200, 101, 90);
  border-width: 2px;
}

label {
  color: black;
}
