<!doctype html>

<html lang="es" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IniciarSesion</title>
    <link rel="stylesheet" href="../styles/estilo.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <iframe class="cabecera" src="cabecera.html" frameborder="0" title="cabecera"></iframe>

    <main>
      <div class="d-flex flex-row justify-content-center">
        <h1>Iniciar Sesion</h1>
      </div>

      <div class="d-flex flex-row justify-content-center">
        <div class="d-flex flex-column align-items-center">
          <form action="../config/login.php" method="post" id="formInicioSesion">
            <input type="email" name="mail" id="mail" placeholder="Ingrese Mail" required />
            <input type="password" name="pass" id="pass" placeholder="Ingrese contraseña" required />
            <input type="checkbox" name="rememberMe" id="rememberMe" />
            <label for="rememberMe">Recordarme</label>
            <button type="submit" id="botonIniciar" name="botonIniciar">Iniciar Sesion</button>
          </form>
        </div>
      </div>

      <div class="d-flex flex-row justify-content-center">
        <div class="d-flex flex-column align-items-center">
          <a href="cambiarContrseña.html"> ¿Has olvidado la contraseña? </a>
          <div>¿No tienes cuenta? <a href="signinForm.html">Registrarse</a></div>
        </div>
      </div>
    </main>

    <object class="pie" src="piePag.html" frameborder="0" title="pie de página"></object>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
